<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="31" android:compileSdkVersionCodename="12" package="com.dbbl.nexus.pay" platformBuildVersionCode="31" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core.aidlservice"/>
        </intent>
        <intent>
            <action android:name="com.huawei.hms.core"/>
        </intent>
        <package android:name="com.huawei.hff"/>
        <package android:name="com.huawei.hms"/>
        <package android:name="com.huawei.hwid"/>
    </queries>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.huawei.appmarket.service.commondata.permission.GET_COMMON_DATA"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <permission android:name="com.dbbl.nexus.pay.permission.PROCESS_PUSH_MSG" android:protectionLevel="signature"/>
    <permission android:name="com.dbbl.nexus.pay.permission.PUSH_PROVIDER" android:protectionLevel="signature"/>
    <permission android:name="com.dbbl.nexus.pay.permission.PUSH_WRITE_PROVIDER" android:protectionLevel="signature"/>
    <uses-permission android:name="com.dbbl.nexus.pay.permission.PROCESS_PUSH_MSG"/>
    <uses-permission android:name="com.dbbl.nexus.pay.permission.PUSH_PROVIDER"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:fullBackupContent="false" android:icon="@mipmap/ic_nexus_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.dbbl.nexus.pay.NexusPayApplication" android:networkSecurityConfig="@xml/network_security_config" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:screenOrientation="portrait" android:supportsRtl="false" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <meta-data android:name="com.huawei.hms.client.appid" android:value="104806789"/>
        <meta-data android:name="com.huawei.hms.client.cpid" android:value="2.64087987E18"/>
        <service android:exported="false" android:name="com.dbbl.nexus.pay.gms.GmsMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:label="AppIntro" android:name="com.dbbl.nexus.pay.ui.appintro.IntroActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.billpay.billpayment.BillPaymentReadOnlyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:label="@string/app_name" android:name="com.dbbl.nexus.pay.ui.billpay.select.SelectBillerActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="true" android:label="@string/app_name" android:name="com.dbbl.nexus.pay.ui.splash.SplashActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.MobileNumberInputActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.LODNotifyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.mnoselection.MnoSelectionActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.otpverification.OtpVerificationActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.beneficiarymanagement.BeneficiaryManagementActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.beftn.BeftnActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.setpin.SetPinActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.BankTransferActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.payment.PaymentTypeActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.payment.makepayment.MakePaymentActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.transfer.BeneficiaryChooserActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.transfer.BeftnTransferActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.transfer.BeftnSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.verifyid.VerifyIdActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.banktransfer.inquiry.TransactionInquiryActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.prompt.VerifyPromptActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.scannid.ScanNidActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.niddetails.NidDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.accountopening.AccountOpeningActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.accountopening.LoadingActivity" android:theme="@style/Theme.Transparent"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.additionaldata.AdditionalDataActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.capturedphoto.CapturedPhotoActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.confirmation.DkycConfirmationActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.success.DkycSuccessActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dkyc.selfieinstruction.SelfieInstructionActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.facetracker.FaceTrackerActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.registration.RegistrationActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.login.LoginActivity"/>
        </activity>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.registration.termsandconditions.TermsAndConditionsActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.registration.RegistrationActivity"/>
        </activity>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.registration.accountverification.AccountVerificationActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.registration.registrationinprogress.RegistrationInProgressActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.login.LoginActivity"/>
        </activity>
        <activity android:name="com.dbbl.nexus.pay.ui.allcarddownload.CardDownloadInProgressActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.registration.userinfo.UserInfoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dbbl.nexus.pay.ui.registration.userinfo.UserReferrerInfoActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.cardregistration.cardselection.CardSelectionActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.cardregistration.cardrequirement.RequirementActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.cardregistration.cardverification.CardVerificationActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.payment.PaymentActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.mobiletopup.topup.MobileTopUpActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.mobiletopup.selectcard.MobileTopUpCardPickerActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.mobiletopup.mnoinfo.MobileTopUpMobileNumberActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.mobiletopup.amountinfo.MobileTopUpAmountActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.billpay.success.BillPaySuccessActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.billpay.receipt.ReceiptActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.sendmoney.SendMoneySuccessActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.sendmoney.SaveBeneficiaryActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.billpay.billpayment.BillPaymentActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.p2p.generate.P2pQrCodeGeneratorActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.billpay.billerlist.BillerListActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.billpay.billpayment.BillPaymentActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.billpay.billeraddition.BillerAdditionActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.ministatement.ministatementbase.MiniStatementBaseActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.ministatement.ministatementlog.MiniMiniStatementLogActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.ecommerce.ECommerceActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.mycards.MyCardsActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.sendmoney.v2.SendMoneyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.balanceinquery.BalanceInquiryActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.cardpicker.CardPickerActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.ecommerce.ECommerceActivity"/>
        </activity>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.payment.pin.TransactionPinInputActivity" android:theme="@style/ActivityAsDialogTransparentTheme"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.carddetail.CardDetailActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.payment.transactionresult.TransactionResultActivity" android:theme="@android:style/Theme.Translucent"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.emergencynotice.EmergencyNoticeActivity" android:theme="@style/Theme.Dialog.Translucent"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.toll.dialog.TollSuccessDialogActivity" android:theme="@style/Theme.Dialog.Translucent"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.helpsupport.SettingsHelpSupportActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.updateprofile.UpdateProfileActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.changewalletpin.ChangeWalletPinActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.customerservice.CustomerServiceActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.about.NexusPayAboutActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.settings.helpsupport.SettingsHelpSupportActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.about.NexusPayAboutLicenseActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.settings.about.NexusPayAboutActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.merchantlocator.StoreLocatorActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.merchantlocator.StoreLocatorActivityV2" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.notifications.NotificationListActivity" android:screenOrientation="portrait">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dbbl.nexus.pay.ui.dashboard.DashboardActivity"/>
        </activity>
        <activity android:exported="false" android:launchMode="singleTask" android:name="com.dbbl.nexus.pay.ui.settings.faq.FAQActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.othercards.rechargeamount.RechargeAmountInputActivity" android:theme="@style/ActivityAsDialogTransparentTheme"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.emergencynotice.EmergencyNoticeDecisionActivity" android:theme="@style/Theme.Dialog.Translucent"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.emergencynotice.EmergencyNoticeLoginScreenActivity" android:theme="@style/Theme.Dialog.Translucent"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.vehicle.management.VehicleManagementActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.vehicle.add.VehicleAddActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.toll.addmoney.TollAddMoneyActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.payment.PaymentDetailsActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.payment.CardSelectionActivityForQrPayment" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.dbbl.nexus.pay.ui.payment.PaymentSuccessActivity" android:screenOrientation="portrait"/>
        <receiver android:exported="true" android:name="com.dbbl.nexus.pay.receivers.SMSBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
                <action android:name="com.huawei.hms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.dbbl.nexus.pay.services.NexusPayHostApduService" android:permission="android.permission.BIND_NFC_SERVICE">
            <intent-filter>
                <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE"/>
            </intent-filter>
            <meta-data android:name="android.nfc.cardemulation.host_apdu_service" android:resource="@xml/nexuspayapduservice"/>
        </service>
        <service android:name="com.dbbl.nexus.pay.services.NexusPayNotificationHandlerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="AA_DB_NAME" android:value="NexusPayDB.db"/>
        <meta-data android:name="AA_DB_VERSION" android:value="24"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_color" android:resource="@color/colorPrimaryRed"/>
        <meta-data android:name="com.google.firebase.messaging.default_notification_channel_id" android:value="@string/default_notification_channel_id"/>
        <provider android:authorities="com.dbbl.nexus.pay.profileImage" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.dbbl.nexus.pay.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.dbbl.nexus.pay.SdkFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/nominee_image_file_path"/>
        </provider>
        <provider android:authorities="com.dbbl.nexus.pay" android:enabled="true" android:exported="false" android:name="com.dbbl.nexus.pay.dao.ActiveAndroidContentProvider"/>
        <meta-data android:name="android.allow_multiple_resumed_activities" android:value="true"/>
        <meta-data android:name="com.google.firebase.ml.vision.DEPENDENCIES" android:value="face"/>
        <meta-data android:name="com.huawei.hms.ml.DEPENDENCY" android:value="face"/>
        <service android:exported="false" android:name="com.konasl.konapayment.sdk.kcm.PushMessageHandlerIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ml.vision.VisionRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ml.common.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.dbbl.nexus.pay.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule" android:value="GlideModule"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ml-computer-vision" android:value="ml-computer-vision:3.4.0.303"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ml-computer-net" android:value="ml-computer-net:3.4.0.303"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="com.huawei.hms.client.service.name:hianalytics" android:value="hianalytics:6.4.1.301"/>
        <meta-data android:name="com.huawei.hms.min_api_level:hianalytics:hianalytics" android:value="1"/>
        <receiver android:exported="false" android:name="com.huawei.hms.analytics.receiver.HiAnalyticsSvcEvtReceiver">
            <intent-filter>
                <action android:name="com.huawei.hms.analytics.pps.event"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.dbbl.nexus.pay.AnalyticsKitInitializeProvider" android:exported="false" android:name="com.huawei.hms.analytics.provider.AnalyticsInitializeProvider"/>
        <service android:exported="false" android:name="com.huawei.agconnect.core.ServiceDiscovery">
            <meta-data android:name="com.huawei.agconnect.credential.CredentialServiceRegistrar:100" android:value="com.huawei.agconnect.core.ServiceRegistrar"/>
        </service>
        <activity android:name="com.karumi.dexter.DexterActivity" android:theme="@style/Dexter.Internal.Theme.Transparent"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"/>
        <service android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.dbbl.nexus.pay.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.dbbl.nexus.pay.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <meta-data android:name="huawei_module_scankit_local" android:value="10320300"/>
        <meta-data android:name="huawei_module_scankit_sdk_version" android:value="scan:2.5.0.300"/>
        <meta-data android:name="com.huawei.hms.client.service.name:scan" android:value="scan:2.5.0.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:scan:huawei_module_scankit" android:value="1"/>
        <meta-data android:name="com.huawei.hms.min_api_level:scan:hmscore" android:value="1"/>
        <activity android:name="com.huawei.hms.hmsscankit.ScanKitActivity"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ml-computer-vision-base" android:value="ml-computer-vision-base:3.4.0.303"/>
        <provider android:authorities="com.dbbl.nexus.pay.MLInitializerProvider" android:exported="false" android:name="com.huawei.hms.mlsdk.common.provider.MLInitializerProvider"/>
        <activity android:configChanges="fontScale|uiMode" android:excludeFromRecents="true" android:exported="false" android:name="com.huawei.hms.hwid.internal.ui.activity.HwIdSignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.huawei.hms.account.internal.ui.activity.AccountSignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.huawei.hms.client.service.name:hwid" android:value="hwid:6.4.0.301"/>
        <meta-data android:name="com.huawei.hms.min_api_level:hwid:hwid" android:value="1"/>
        <meta-data android:name="com.huawei.hms.min_api_level:hwid:account" android:value="13"/>
        <meta-data android:name="com.huawei.hms.client.service.name:site" android:value="site:6.2.0.301"/>
        <meta-data android:name="com.huawei.hms.min_api_level:site:site" android:value="13"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:exported="false" android:label="@string/SearchActivity" android:name="com.huawei.hms.site.widget.SearchActivity" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ml-computer-ha-inner" android:value="ml-computer-ha-inner:3.4.0.303"/>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.huawei.hms.support.api.push.PushMsgReceiver" android:permission="com.dbbl.nexus.pay.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <action android:name="com.huawei.intent.action.PUSH_DELAY_NOTIFY"/>
                <action android:name="com.huawei.intent.action.PUSH"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="true" android:exported="true" android:name="com.huawei.hms.support.api.push.PushReceiver" android:permission="com.dbbl.nexus.pay.permission.PROCESS_PUSH_MSG">
            <intent-filter>
                <action android:name="com.huawei.android.push.intent.REGISTRATION"/>
                <action android:name="com.huawei.android.push.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:enabled="true" android:exported="true" android:name="com.huawei.hms.support.api.push.service.HmsMsgService" android:process=":pushservice">
            <intent-filter>
                <action android:name="com.huawei.push.msg.NOTIFY_MSG"/>
                <action android:name="com.huawei.push.msg.PASSBY_MSG"/>
            </intent-filter>
        </service>
        <provider android:authorities="com.dbbl.nexus.pay.huawei.push.provider" android:exported="true" android:name="com.huawei.hms.support.api.push.PushProvider" android:readPermission="com.dbbl.nexus.pay.permission.PUSH_PROVIDER" android:writePermission="com.dbbl.nexus.pay.permission.PUSH_WRITE_PROVIDER"/>
        <meta-data android:name="com.huawei.hms.client.service.name:push" android:value="push:6.3.0.304"/>
        <meta-data android:name="com.huawei.hms.min_api_level:push:push" android:value="1"/>
        <activity android:exported="false" android:name="com.huawei.hms.support.api.push.TransActivity"/>
        <provider android:authorities="com.dbbl.nexus.pay.aaidinitprovider" android:exported="false" android:initOrder="500" android:name="com.huawei.hms.aaid.InitProvider"/>
        <meta-data android:name="com.huawei.hms.client.service.name:opendevice" android:value="opendevice:6.3.0.304"/>
        <meta-data android:name="com.huawei.hms.min_api_level:opendevice:push" android:value="1"/>
        <meta-data android:name="com.huawei.hms.client.service.name:base" android:value="base:6.4.0.303"/>
        <meta-data android:name="com.huawei.hms.min_api_level:base:hmscore" android:value="1"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ml-computer-dynamic" android:value="ml-computer-dynamic:3.4.0.303"/>
        <meta-data android:name="availableLoaded" android:value="yes"/>
        <provider android:authorities="com.dbbl.nexus.pay.AGCInitializeProvider" android:exported="false" android:name="com.huawei.agconnect.core.provider.AGConnectInitializeProvider"/>
        <service android:enabled="true" android:exported="true" android:name="konashield.security.konasl.com.konashield.security.KonaShieldService" android:stopWithTask="true"/>
        <activity android:name="com.dbbl.ekycapp.depositMoney.TermsAndCondition" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.depositMoney.AdditionalInfoActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.depositMoney.TxnGateWayActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.depositMoney.SelectCardActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.depositMoney.SelectBranchActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.depositMoney.DepositMoneyInstructionActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.home.EkycTermsAndConditionsActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.AccountOpen.AddNomineeActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.AccountOpen.SeceonNomineeActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.AccountOpen.AllInformationConfirmationActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.AccountOpen.AccountOpeningAdditionalInfoActivity" android:theme="@style/EkycTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.dbbl.ekycapp.home.HomeActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.imageCapture.CustomerImagePickerActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.imageCapture.ImagePickerActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:name="com.dbbl.ekycapp.AccountOpen.AccountOpeningPersonalInfoActivity" android:theme="@style/EkycTheme.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.dbbl.ekycapp.Base.SessionActivity" android:theme="@style/EkycTheme.NoActionBar"/>
        <activity android:exported="true" android:name="com.idtp.dbbl.ui.DbblIDTPSDK" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:label="@string/app_name" android:name="com.binimoy.clientsdk.BinimoyMobileSDK" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/app_name" android:name="com.binimoy.clientsdk.BaseActivity"/>
        <activity android:name="com.binimoy.clientsdk.DeviceRegistrationActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.binimoy.clientsdk.PINChangeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <meta-data android:name="com.huawei.hms.client.service.name:ml-computer-vision-inner" android:value="ml-computer-vision-inner:3.4.0.303"/>
        <meta-data android:name="com.huawei.hms.client.service.name:dynamic-api" android:value="dynamic-api:1.0.20.300"/>
        <meta-data android:name="com.huawei.hms.min_api_level:dynamic-api:huawei_module_dynamicloader" android:value="8"/>
        <activity android:configChanges="locale|fontScale|layoutDirection|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:excludeFromRecents="true" android:exported="false" android:hardwareAccelerated="true" android:name="com.huawei.hms.activity.BridgeActivity" android:screenOrientation="behind" android:theme="@style/Base_Translucent">
            <meta-data android:name="hwc-theme" android:value="androidhwext:style/Theme.Emui.Translucent"/>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize" android:exported="false" android:name="com.huawei.hms.activity.EnableServiceActivity"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>
