frame-body {
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100% font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 20px;
}
body {
 margin: 0px;
}
#main-container {} #banner frame-body {} #banner table {
    background: url("background.png");
    background-size: 320px 244px;
    background-repeat: no-repeat;
    background-position: right top;
    width: 100%;
    height: 244px;
    border: none;
    margin: 0px;
}
#banner #textCol {
    color: #000000;
    padding: 0px 20px 20px 40px;
    font-weight: bold;
}
#banner #textRow {
    background: transparent;
}
#divider {
    background: #D8D8D8;
    height: 2px;
}
#logo {
    float: left top;
    padding-left: 40px;
    padding-top: 20px;
    width: 182px;
    height: auto;
}
.projectTitle {
    display: block;
    font-size: 2.3em;
    font-weight: bold;
}
.projectVersion {
	margin-top: 10px;
	margin-left: 4px;
    font-weight: lighter;
    font-size: 14px;
}
#site {
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
}
#site .pageNavBar {
    float: left;
    width: 17%;
    background-color: #f5f5f5;
    border-radius: 5px;
    color: #363635;
    -moz-box-shadow: inset 0 0 4px #C0C0C0;
    -webkit-box-shadow: inset 0 0 4px #C0C0C0;
    box-shadow: inset 0 0 4px #C0C0C0;
}
.pageNavBar frame-body {} .pageNavBar .pageNavBarContent {
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
}
.pageNavBar .pageNavBarContent a {
    padding: 5px 20px 5px 20px;
    display: block;
    font-size: 14px;
    word-wrap: break-word;
}
.pageNavBar .pageNavBarContent a:link,a:visited {
    color: #000000;
    text-decoration: none;
}
.pageNavBar .pageNavBarContent a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #694ED6;
}
.pageNavBar .pageNavBarContent a:active {
    color: #ffffff;
    text-decoration: none;
    background-color: #5E46C0;
}
#site .pageContent {
    float: right;
    width: 83%;
    text-align: left;
    padding-left: 20px;
}

/* Fixes of the asciidoc stylesheet */

.pdp-navbar-section-header {
    padding: 10px 20px 3px 20px;
    font-weight: bold;
    font-size: 13px;
    color: #3A3A3A;
    text-transform: uppercase;
    word-wrap: break-word;
}
pre {
    text-indent: 0px;
}
#header,
#content,
#footnotes,
#footer {
    width: 90%;
    margin-right: auto;
    margin-left: 0px;
}