<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.example.app" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application android:allowBackup="true" android:debuggable="true" android:extractNativeLibs="false" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.App">
        <activity android:name="com.example.app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.app.DummyActivity1"/>
        <activity android:name="com.example.app.DummyActivity2"/>
        <activity android:name="com.example.app.DummyActivity3"/>
        <activity android:name="com.example.app.DummyActivity4"/>
        <activity android:name="com.example.app.DummyActivity5"/>
        <activity android:name="com.example.app.DummyActivity6"/>
        <activity android:name="com.example.app.DummyActivity7"/>
        <activity android:name="com.example.app.DummyActivity8"/>
        <activity android:name="com.example.app.DummyActivity9"/>
        <activity android:name="com.example.app.DummyActivity10"/>
        <activity android:name="com.example.app.DummyActivity11"/>
        <activity android:name="com.example.app.DummyActivity12"/>
        <activity android:name="com.example.app.DummyActivity13"/>
        <activity android:name="com.example.app.DummyActivity14"/>
        <activity android:name="com.example.app.DummyActivity15"/>
        <activity android:name="com.example.app.DummyActivity16"/>
        <activity android:name="com.example.app.DummyActivity17"/>
        <activity android:name="com.example.app.DummyActivity18"/>
        <activity android:name="com.example.app.DummyActivity19"/>
        <activity android:name="com.example.app.DummyActivity20"/>
        <activity android:name="com.example.app.DummyActivity21"/>
        <activity android:name="com.example.app.DummyActivity22"/>
        <activity android:name="com.example.app.DummyActivity23"/>
        <activity android:name="com.example.app.DummyActivity24"/>
        <activity android:name="com.example.app.DummyActivity25"/>
        <activity android:name="com.example.app.DummyActivity26"/>
        <activity android:name="com.example.app.DummyActivity27"/>
        <activity android:name="com.example.app.DummyActivity28"/>
        <activity android:name="com.example.app.DummyActivity29"/>
        <activity android:name="com.example.app.DummyActivity30"/>
        <activity android:name="com.example.app.DummyActivity31"/>
    </application>
</manifest>
