<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.dmoneybd.dcustomer.iw" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_ACTION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.PICK"/>
            <data android:mimeType="image/*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.CHOOSER"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.USE_BIOMETRIC"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.dmoneybd.dcustomer.base.DCustomerApplication" android:networkSecurityConfig="@xml/network_security_config" android:roundIcon="@mipmap/ic_launcher" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:label="@string/title_activity_marchant_picker" android:name="com.dmoneybd.dcustomer.ui_module.auto_debit_merchant.tokenization.MarchantListActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_easy_trax_web_view" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.EasyTraxWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_handymama_webview" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.HandymamaWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_vehicle_security_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.VehicleSecuritySelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_book_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.BookSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dshop_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DShopSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dshop_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DShopActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dshop_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DShopMerchantListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_food_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.FoodSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_air_ticket" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.AirTicketSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_vehicle_solution_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.VehicleSolutionSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_main_new" android:name="com.dmoneybd.dcustomer.ui_module.home.MainActivityNew" android:screenOrientation="portrait" android:theme="@style/Theme.Home" android:windowSoftInputMode="stateHidden"/>
        <receiver android:enabled="true" android:name="com.dmoneybd.dcustomer.base.InternetConnectionStateReceiver">
            <intent-filter>
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
                <action android:name="ConnectivityManager.CONNECTIVITY_ACTION"/>
            </intent-filter>
        </receiver>
        <activity android:label="@string/add_bank_activity_title" android:name="com.dmoneybd.dcustomer.ui_module.banks.AddBankActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/add_beneficiary_activity_title" android:name="com.dmoneybd.dcustomer.ui_module.banks.AddBeneficiaryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/bank_list_activity_title" android:name="com.dmoneybd.dcustomer.ui_module.banks.CustomerBankListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/beneficiaries" android:name="com.dmoneybd.dcustomer.ui_module.banks.BeneficiaryListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/select_bank" android:name="com.dmoneybd.dcustomer.ui_module.banks.CustomerVerifiedBankListActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/verify_bank_activity_title" android:name="com.dmoneybd.dcustomer.ui_module.banks.VerifyBankActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.banks.CustomerBankListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.dmoneybd.dcustomer.ui_module.common.SplashScreenActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransparentStatusBar" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.dmoneybd.dcustomer.ui_module.common.PreviewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransparentStatusBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_login" android:name="com.dmoneybd.dcustomer.ui_module.user.LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.TransparentStatusBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_signup" android:name="com.dmoneybd.dcustomer.ui_module.user.RegistrationActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.user.LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".ui_module.user.LoginActivity"/>
        </activity>
        <activity android:label="@string/mobile_verification" android:name="com.dmoneybd.dcustomer.ui_module.user.RegistrationVerificationActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.user.LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/mobile_verification" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyMemberRegistrationVerificationActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.familypay.FamilyMemberAddActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/device_verification" android:name="com.dmoneybd.dcustomer.ui_module.user.DeviceVerificationActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.user.LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/message" android:name="com.dmoneybd.dcustomer.ui_module.common.CommonDialogActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_my_profile" android:name="com.dmoneybd.dcustomer.ui_module.qr.ProfileActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_get_qr" android:name="com.dmoneybd.dcustomer.ui_module.qr.MyQrActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_balance_inquiry" android:name="com.dmoneybd.dcustomer.ui_module.account_info.BalanceInquiryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_fund_transfer_options" android:name="com.dmoneybd.dcustomer.ui_module.transaction.FundTransferOptionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_fund_transfer" android:launchMode="singleTop" android:name="com.dmoneybd.dcustomer.ui_module.transaction.SendMoneyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/mobile_top_up" android:name="com.dmoneybd.dcustomer.ui_module.mobile_recharge.MobileRechargeActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="@string/activity_title_family_pay" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/wallet_withdrawal" android:name="com.dmoneybd.dcustomer.ui_module.bank_transaction.WalletWithDrawalActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/activity_title_add_family_member" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyMemberAddActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:label="@string/send_money_family_member" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPaySendMoneyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/detail_family_member" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPayDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/loyalty" android:name="com.dmoneybd.dcustomer.ui_module.loyalty.LoyaltyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/update_family_member" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPayUpdateActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_contact_picker" android:name="com.dmoneybd.dcustomer.ui_module.common.ContactPickerActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bank_picker" android:name="com.dmoneybd.dcustomer.ui_module.common.BankPickerActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_district_picker" android:name="com.dmoneybd.dcustomer.ui_module.common.DistrictPickerActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_branch_picker" android:name="com.dmoneybd.dcustomer.ui_module.common.BranchPickerActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/activity_title_family_pay" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPayReceiveMoneyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_qr_code_option" android:name="com.dmoneybd.dcustomer.ui_module.transaction.MerchantPaymentOptionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/scan_bill" android:name="com.dmoneybd.dcustomer.ui_module.transaction.QrCodeReadActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/quick_pay" android:launchMode="singleTop" android:name="com.dmoneybd.dcustomer.ui_module.transaction.QuickPayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/merchant_payment" android:name="com.dmoneybd.dcustomer.ui_module.transaction.QrCodeWithAmountGenerateActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.transaction.MerchantPaymentOptionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_pin_change" android:name="com.dmoneybd.dcustomer.ui_module.user.ChangePinActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.user.SettingsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_my_devices" android:name="com.dmoneybd.dcustomer.ui_module.user.MyDevicesActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.user.SettingsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_email_verification" android:name="com.dmoneybd.dcustomer.ui_module.user.EmailVerificationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/forgot_pin" android:name="com.dmoneybd.dcustomer.ui_module.user.ForgotPinActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.user.LoginActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden">
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value="com.dmoneybd.dcustomer.ui_module.user.LoginActivity"/>
        </activity>
        <activity android:label="@string/title_activity_settings" android:name="com.dmoneybd.dcustomer.ui_module.user.SettingsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/activity_log" android:name="com.dmoneybd.dcustomer.ui_module.user.MyActivitiesActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/offer_amp_promotion" android:name="com.dmoneybd.dcustomer.ui_module.user.BannerListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_about" android:name="com.dmoneybd.dcustomer.ui_module.info.AboutActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_help" android:name="com.dmoneybd.dcustomer.ui_module.info.HelpActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_merchant_locator" android:name="com.dmoneybd.dcustomer.ui_module.user.MerchantViewWithMapsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_invite_friends" android:name="com.dmoneybd.dcustomer.ui_module.user.InviteFriendsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/my_wallet" android:name="com.dmoneybd.dcustomer.ui_module.my_wallet.MyWalletOptionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/transaction_history" android:name="com.dmoneybd.dcustomer.ui_module.transaction.TransactionHistoryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_transaction_details" android:name="com.dmoneybd.dcustomer.ui_module.transaction.TransactionDetailActivity" android:parentActivityName="com.dmoneybd.dcustomer.ui_module.transaction.TransactionHistoryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_wallet_recharge" android:name="com.dmoneybd.dcustomer.ui_module.bank_transaction.WalletRefillActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_notification" android:name="com.dmoneybd.dcustomer.ui_module.notification.NotificationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_qr_scan" android:name="com.dmoneybd.dcustomer.ui_module.qr.QrScanActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_fmaily_pay_fund_transfer" android:name="com.dmoneybd.dcustomer.ui_module.familypay.FamilyPayFundTransferActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_wallet_recharge_from_card" android:name="com.dmoneybd.dcustomer.ui_module.bank_transaction.WalletRefillFromCardWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_payment" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.BillPaymentWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_movie_ticket_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.MovieTicketWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_busticket" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.BusTicketWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_otp_verification" android:name="com.dmoneybd.dcustomer.ui_module.common.CommonOtpActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_otp_verification" android:name="com.dmoneybd.dcustomer.ui_module.bank_transaction.BankTransactionOtpActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_otp_verification" android:name="com.dmoneybd.dcustomer.ui_module.banks.BankOtpVerificationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_otp_verification" android:name="com.dmoneybd.dcustomer.ui_module.banks.BeneficiaryOtpVerificationActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_otp_verification" android:name="com.dmoneybd.dcustomer.ui_module.common.SettingsUpdateOtpActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.dmoneybd.dcustomer.cropper.CropImageActivity" android:screenOrientation="portrait" android:theme="@style/Base.Theme.AppCompat" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_send_request" android:name="com.dmoneybd.dcustomer.ui_module.requestmoney.CreateRequestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_request_money" android:name="com.dmoneybd.dcustomer.ui_module.requestmoney.RequestMoneyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/create_split_pay" android:name="com.dmoneybd.dcustomer.ui_module.splitpay.CreateSplitPayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_split_pay" android:name="com.dmoneybd.dcustomer.ui_module.splitpay.SplitPayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_emergency_contacts" android:name="com.dmoneybd.dcustomer.ui_module.emergency_contacts.EmergencyContactsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_auto_debit_merchant" android:name="com.dmoneybd.dcustomer.ui_module.auto_debit_merchant.AutoDebitMerchantActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_group" android:name="com.dmoneybd.dcustomer.ui_module.group.GroupsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_create_group" android:name="com.dmoneybd.dcustomer.ui_module.group.CreateGroupActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_group_members" android:name="com.dmoneybd.dcustomer.ui_module.group.GroupMemberListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_group_send_money" android:name="com.dmoneybd.dcustomer.ui_module.group.GroupSendMoneyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_add_group_member" android:name="com.dmoneybd.dcustomer.ui_module.group.AddGroupMemberActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_payment" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.BillPaymentOptionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_payment" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DPDCBillPaymentActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_wasa_bill_payment" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.WasaBillPaymentActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_documents" android:name="com.dmoneybd.dcustomer.ui_module.user.DocumentsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_nid_documents" android:name="com.dmoneybd.dcustomer.ui_module.user.NidDocumentActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_donation_pay" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DonationRecipientListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_donation_pay" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DonationPayActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_out" android:name="com.dmoneybd.dcustomer.ui_module.transaction.CashOutWalletActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_npsb_cashout" android:name="com.dmoneybd.dcustomer.ui_module.interoperable.NPSBCashOutActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_feedback" android:name="com.dmoneybd.dcustomer.ui_module.feedback.FeedbackListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_feedback_message" android:name="com.dmoneybd.dcustomer.ui_module.feedback.FeedbackMessageListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_create_feedback" android:name="com.dmoneybd.dcustomer.ui_module.feedback.CreateFeedbackActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_statement" android:name="com.dmoneybd.dcustomer.ui_module.transaction.StatementActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="true" android:name="com.dmoneybd.dcustomer.ui_module.transaction.BlockAmountDetailActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme"/>
        <activity android:label="@string/title_activity_send_money_external" android:name="com.dmoneybd.dcustomer.ui_module.interoperable.ExternalSendMoneyActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_busticket" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.BusTicketSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_ecommerce" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.EcommerceSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dland_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DLandSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dlegal_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DLegalSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dedu_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DEduSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dhealth_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DHealthSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_doctors_consultation_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DoctorsConsultationSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_grocery_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.GrocerySelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_fish_and_meat_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.FishAndMeatSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_transfer_fund_selection" android:name="com.dmoneybd.dcustomer.ui_module.bank_transaction.TransferFundSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_transfer_to_wallet" android:name="com.dmoneybd.dcustomer.ui_module.bank_transaction.TransferToWalletActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_grocery_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.MedicineSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_dfarmer_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.DFarmerSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_insurance_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.InsuranceSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/carnival_assure" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.CarnivalAssureWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_movie_ticket_selection" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.MovieTicketSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_ecommerce" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.EcommerceLaunchActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_edit_profile" android:name="com.dmoneybd.dcustomer.ui_module.qr.EditProfileActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_world_cup" android:name="com.dmoneybd.dcustomer.ui_module.worldcup.WorldCupActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_buy_jersey" android:name="com.dmoneybd.dcustomer.ui_module.worldcup.JerseyListActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_summary" android:name="com.dmoneybd.dcustomer.ui_module.summary.SummaryActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_summary" android:name="com.dmoneybd.dcustomer.ui_module.summary.SummaryDetailsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_shipping_details" android:name="com.dmoneybd.dcustomer.ui_module.worldcup.ShippingDetailsActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_fixture" android:name="com.dmoneybd.dcustomer.ui_module.worldcup.FixtureActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_introducer" android:name="com.dmoneybd.dcustomer.ui_module.introducer.IntroducerActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_create_introducer_request" android:name="com.dmoneybd.dcustomer.ui_module.introducer.CreateIntroducerRequestActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_on_demand_service" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.OnDemandServiceSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_travel" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.TravelSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:finishOnTaskLaunch="true" android:name="com.dmoneybd.dcustomer.ui_module.common.NotificationDialogActivity" android:noHistory="true" android:theme="@style/Theme.Transparent"/>
        <activity android:label="@string/title_activity_address_district_picker" android:name="com.dmoneybd.dcustomer.ui_module.user.AddressDistrictPickerActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_address_upazila_picker" android:name="com.dmoneybd.dcustomer.ui_module.user.AddressUpazilaPickerActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_address_union_picker" android:name="com.dmoneybd.dcustomer.ui_module.user.AddressUnionPickerActivity" android:theme="@style/Theme_Dialog_Activity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_loan" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.LoanWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_loan" android:name="com.dmoneybd.dcustomer.ui_module.bill_payment.BinimoyLoanWebViewActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme" android:windowSoftInputMode="stateHidden"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="@string/google_maps_key"/>
        <meta-data android:name="firebase_crashlytics_collection_enabled" android:value="false"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="299ab854fc9a05f64f1884e9d8b56aacc6162b25"/>
        <service android:exported="false" android:name="com.dmoneybd.dcustomer.base.CommonFirebaseMessagingService" android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:name="com.dmoneybd.dcustomer.base.SmsReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <provider android:authorities="com.dmoneybd.dcustomer.iw.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:exported="true" android:name="androidx.biometric.DeviceCredentialHandlerActivity" android:theme="@style/DeviceCredentialHandlerTheme"/>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="sensorLandscape" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <service android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <activity android:name="com.nabinbhandari.android.permissions.PermissionsActivity" android:theme="@style/Permissions.TransparentTheme"/>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.barcode.internal.BarcodeRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.dmoneybd.dcustomer.iw.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <provider android:authorities="com.dmoneybd.dcustomer.iw.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
    </application>
</manifest>
