<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" package="com.konasl.nagad" platformBuildVersionCode="30" platformBuildVersionName="11">
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.location" android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:maxSdkVersion="28" android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="*"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.DIAL"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.GET_CONTENT"/>
        </intent>
    </queries>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:smallScreens="true"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.konasl.dfs.DfsApplication" android:networkSecurityConfig="@xml/network_security_config" android:supportsRtl="true" android:theme="@style/AppTheme" android:usesCleartextTraffic="true">
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.common.InAppBrowserActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.updateAccountType.UpdateAccountTypeActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.trustedMerchant.TrustedMerchantActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="true" android:launchMode="singleTask" android:name="com.konasl.dfs.ui.deeplink.IntentForwardingActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="nagad"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.my_bills.MyBillsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.sendmoney.SendMoneyActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.addmoney.MerchantSelectionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.cashout.CashOutActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.addmoney.AddMoneyActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.addmoney.CardToNagadActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.home.zakatdonation.PaymentMerchantListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.topup.TopUpActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.selfredeem_dpo.SelfRedeemDpoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.selfredeem_dmo.SelfRedeemDmoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.contacts.ContactActionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.theatre.TheatreListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.theatre.WebTheatreActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.referral.ReferralInstructionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation" android:exported="false" android:label="" android:name="com.konasl.dfs.theeyegame.CameraActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation" android:exported="false" android:label="" android:name="com.konasl.dfs.ui.home.linkaccount.LinkedAccountActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation" android:exported="false" android:label="" android:name="com.konasl.dfs.ui.home.linkaccount.AccountInformationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation" android:exported="false" android:label="" android:name="com.konasl.dfs.ui.home.linkaccount.BankAddMoneyActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:configChanges="orientation" android:exported="false" android:label="" android:name="com.konasl.dfs.theeyegame.BlinkedImageActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.gp.GpOtpVerificationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.blink.BlinkOtpVerificationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="true" android:label="@string/app_name" android:name="com.konasl.dfs.ui.splash.SplashActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.home.HomeActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.billpay.billerlist.MfiCategoryActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.billpay.billerlist.MfiBillerActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.home.linkaccount.WebOtpActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:name="com.konasl.dfs.ui.login.LoginActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.success.SuccessActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.confirmation.AgentReferralActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.mnobase.MnoBaseSelectionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.billpay.receipt.BillReceiptListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.billpay.receipt.BillReceiptActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.success.TransactionSuccessActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.pin.set.PinInputActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.cashin.CashInActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.profitstatus.ProfitStatusActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.pin.change.ChangePinActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.deposit.AgentDpsDepositActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.DpsHomeActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.details.DpsAccountDetailsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.details.ProductDetailsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.confirmation.DpsReferConfirmationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.redeem.DpsRedeemActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.transaction.DpsTransactionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.b2b.B2bActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.register.CustomerRegistrationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.account.DpsAccountActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.txhistory.TxHistoryActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dps.history.DpsTransactionHistoryActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.agentdmo.AgentDmoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.kyc.PendingKycActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dpo.VerifyDpoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:taskAffinity="dfs.dpo" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dpo.RedeemDpoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:taskAffinity="dfs.dpo" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dmo.DmoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.kyc.CollectedKycActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.otp.OtpVerificationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.requisition.RequisitionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:launchMode="singleTop" android:name="com.konasl.dfs.ui.notification.NotificationListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.notification.NfDetailActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.acknowledgement.CashAcknowledgementActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="@string/activity_title_select_account" android:name="com.konasl.dfs.ui.picker.account.AccountPickerActivity" android:screenOrientation="@integer/screen_orientation_mode"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.list.dpo.DpoListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.barcode.BarcodeScannerActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.list.dpo.sale.DpoSaleActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.txlog.TxLogActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.setting.SettingsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.profile.UpdateProfileActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.contactus.ContactUsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.android.camera.CropImage" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.policy.PrivacyPolicyActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.about.AboutActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.transaction.TransactionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.transaction.BaseTransactionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.storelocator.StoreLocatorActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.peopledetails.PeoplesDetailsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.limit.LimitActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.checkuserstatus.CheckUserStatusActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.selfregistration.SelfRegistrationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.devicechange.DeviceChangePinInputActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.mnoselection.MnoSelectionActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.activationsuccess.ActivationSuccessActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.login.CustomerLoginActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.contactus.CustomerContactUsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.success.ChannelAppTxSuccessActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.scanid.ScanBackIdActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.id.card.input.IdCardInputActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.scanid.ScanFrontIDActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.scanneddata.ScannedDataBackActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.scanneddata.ScannedDataFrontActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.id.card.detail.IdCardDetailEditActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.additionaldata.AdditionalInfoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.uploaddocument.UploadPhotoActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.uploaddocument.UploadSignatureActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.uploaddocument.UploadStatusActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.confirmationdetails.DkycConfirmationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.ac_type.AccountTypeActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.confirmationdetails.DkycConfirmationActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.id.card.decoder.IdCardCaptureActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.uploaddocument.UploadTradeLicenseActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.mnoselection.NewMnoSelectionActivity" android:screenOrientation="portrait" android:theme="@style/AppTheme.NoActionBar" android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:exported="false" android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.billpay.billerlist.BillerListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.billpay.BillPayTxActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.uploaddocument.SelfieInstructionActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.facetracker.FaceTrackerActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.dkyc.uploaddocument.CapturedPhotoViewActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.billpay.agent.AgentBillPayTxActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.mnoselection.MnoUpdateActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.news.NewsActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.ui.recipient.RecipientPickerActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="false" android:label="" android:name="com.konasl.dfs.customer.ui.billpay.easyLoad.EasyLoadListActivity" android:screenOrientation="@integer/screen_orientation_mode" android:theme="@style/AppTheme.NoActionBar"/>
        <provider android:authorities="com.konasl.nagad.profileImage" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths"/>
        </provider>
        <provider android:authorities="com.konasl.nagad" android:enabled="true" android:exported="false" android:grantUriPermissions="true" android:name="com.konasl.dfs.provider.ActiveAndroidContentProvider"/>
        <receiver android:exported="true" android:name="com.konasl.dfs.receiver.GoogleSmsReceiver" android:permission="com.google.android.gms.auth.api.phone.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>
        <service android:exported="false" android:name="com.konasl.dfs.service.DfsNotificationHandlerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:exported="false" android:name="com.konasl.dfs.service.DfsActivityIntentResolverService"/>
        <meta-data android:name="firebase_performance_collection_deactivated" android:value="true"/>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="barcode"/>
        <meta-data android:name="AA_DB_NAME" android:value="dfs_channel"/>
        <meta-data android:name="AA_DB_VERSION" android:value="2"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDoV6YzlihWweFfcRxWW3-FGVHfuS8-RTg"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.facebook.FacebookActivity" android:theme="@style/com_facebook_activity_theme"/>
        <activity android:name="com.facebook.CustomTabMainActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="cct.com.konasl.nagad" android:scheme="fbconnect"/>
            </intent-filter>
        </activity>
        <provider android:authorities="com.konasl.nagad.FacebookInitProvider" android:exported="false" android:name="com.facebook.internal.FacebookInitProvider"/>
        <receiver android:exported="false" android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver">
            <intent-filter>
                <action android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.konasl.nagad.coil" android:exported="false" android:name="coil.util.CoilContentProvider"/>
        <service android:exported="false" android:name="com.konasl.konapayment.sdk.fcm.FcmClientService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:exported="false" android:name="com.konasl.konapayment.sdk.kcm.PushMessageHandlerIntentService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <service android:exported="true" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <provider android:authorities="com.konasl.nagad.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:configChanges="locale|layoutDirection" android:name="com.sslwireless.sslcommerzlibrary.view.activity.MainUIActivitySSLC" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity android:name="com.sslwireless.sslcommerzlibrary.view.activity.WebViewActivitySSLC" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.sslwireless.sslcommerzlibrary.view.activity.SSLOffersActivitySSLC" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.sslwireless.sslcommerzlibrary.view.activity.FAQActivitySSLC" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.sslwireless.sslcommerzlibrary.view.activity.SupportActivitySSLC" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan"/>
        <activity android:name="com.sslwireless.native_sdk.view.activity.NativeSdkMainActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar" android:windowSoftInputMode="adjustPan|stateHidden"/>
        <provider android:authorities="com.konasl.nagad.lifecycle-process" android:exported="false" android:multiprocess="true" android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"/>
        <service android:enabled="true" android:exported="true" android:name="konashield.security.konasl.com.konashield.security.KonaShieldService" android:stopWithTask="true"/>
        <service android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <provider android:authorities="com.konasl.nagad.crashlyticsinitprovider" android:exported="false" android:initOrder="100" android:name="com.crashlytics.android.CrashlyticsInitProvider"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="1"/>
    </application>
</manifest>
