<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="32" android:compileSdkVersionCodename="12" package="com.dbbl.mbs.apps.main" platformBuildVersionCode="32" platformBuildVersionName="12">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <queries>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.OPEN_DOCUMENT_TREE"/>
        </intent>
        <package android:name="com.google.android.apps.maps"/>
    </queries>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.front" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
    <uses-feature android:name="android.hardware.camera.flash" android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application android:allowBackup="false" android:appComponentFactory="androidx.core.app.CoreComponentFactory" android:extractNativeLibs="false" android:hardwareAccelerated="true" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.dbbl.mbs.apps.main.RocketApplication" android:requestLegacyExternalStorage="true" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/RocketTheme.NoActionBarTheme" android:usesCleartextTraffic="true">
        <activity android:exported="true" android:name="com.dbbl.mbs.apps.main.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:exported="false" android:name="com.dbbl.mbs.apps.main.PrimaryPermissionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="rocketdbbl.page.link" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:name="com.dbbl.rocket.ui.billPay.BillerTransactionInquiryActivity"/>
        <activity android:name="com.dbbl.rocket.ui.home.MainAppActivity"/>
        <activity android:name="com.dbbl.mbs.apps.main.SelectLanguageActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.dbbl.rocket.ui.AppSetUpActivity"/>
        <activity android:label="@string/title_activity_user_selection_activity" android:name="com.dbbl.rocket.ui.UserSelectionActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_main_app_activity" android:name="com.dbbl.rocket.ui.LoginActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.dbbl.rocket.ui.sendMoney.SendMoneyReceiptSaveActivity"/>
        <activity android:label="@string/title_activity_send_money" android:name="com.dbbl.rocket.ui.sendMoney.SendMoneyPreActivity" android:theme="@style/RocketTheme.NoActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_add_money" android:name="com.dbbl.rocket.ui.addMoney.AddMoneyActivity" android:theme="@style/RocketTheme.NoActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_add_money" android:name="com.dbbl.rocket.ui.addMoney.card.CardToRocketActivity" android:theme="@style/RocketTheme.NoActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_add_money" android:name="com.dbbl.rocket.ui.addMoney.card.NexusGatewayShowActivity" android:theme="@style/RocketTheme.NoActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_add_money" android:name="com.dbbl.rocket.ui.addMoney.bank.AccountToRocketActivity" android:theme="@style/RocketTheme.NoActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_send_money" android:name="com.dbbl.rocket.ui.sendMoney.SendMoneyActivity" android:theme="@style/RocketTheme.NoActionBarTheme" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_send_money_confirmation" android:name="com.dbbl.rocket.ui.sendMoney.SendMoneyConfirmationActivity" android:theme="@style/RocketTheme.NoActionBarTheme"/>
        <activity android:name="com.dbbl.rocket.ui.qrPay.QrScanActivity" android:screenOrientation="fullSensor"/>
        <activity android:label="@string/title_activity_qr_generate" android:name="com.dbbl.rocket.ui.qrPay.MyQrActivity"/>
        <activity android:name="com.dbbl.rocket.utils.qr.RocketZxingCaptureActivity" android:screenOrientation="fullSensor"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.merchantPay.MerchantPayBanglaQrActivity"/>
        <activity android:label="@string/title_activity_merchant_pay" android:name="com.dbbl.rocket.ui.merchantPay.MerchantPayPreActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_merchant_pay" android:name="com.dbbl.rocket.ui.merchantPay.MerchantPayActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_merchant_pay" android:name="com.dbbl.rocket.ui.retailPay.RetailPayConfirmationActivity"/>
        <activity android:label="@string/title_activity_merchant_pay" android:name="com.dbbl.rocket.ui.retailPay.RetailPayActivity"/>
        <activity android:label="@string/title_activity_merchant_pay" android:name="com.dbbl.rocket.ui.retailPay.RetailPayPreActivity"/>
        <activity android:label="@string/title_reset_pin" android:name="com.dbbl.rocket.ui.resetPIN.ResetPinCustomerPhotoInstructionActivity"/>
        <activity android:label="@string/title_reset_pin" android:name="com.dbbl.rocket.ui.resetPIN.ResetPinSetForOverseasRocketAccountActivity"/>
        <activity android:label="@string/title_reset_pin" android:name="com.dbbl.rocket.ui.resetPIN.ResetPinVerficationActivity"/>
        <activity android:label="@string/title_reset_pin" android:name="com.dbbl.rocket.ui.resetPIN.ResetPinNidDobActivity"/>
        <activity android:label="@string/title_reset_pin" android:name="com.dbbl.rocket.ui.resetPIN.ResetPinCustomerPhotoTakerActivity"/>
        <activity android:label="@string/title_reset_pin" android:name="com.dbbl.rocket.ui.resetPIN.ResetPinActivity"/>
        <activity android:label="@string/title_activity_merchant_pay_confirmation" android:name="com.dbbl.rocket.ui.merchantPay.MerchantPayConfirmationActivity"/>
        <activity android:label="@string/title_activity_cash_out_customer" android:name="com.dbbl.rocket.ui.cashOutCustomer.CashOutCustomerPreActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_out_customer" android:name="com.dbbl.rocket.ui.cashOutCustomer.CashOutCustomerActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_out_customer_confirmation" android:name="com.dbbl.rocket.ui.cashOutCustomer.CashOutCustomerConfirmationActivity"/>
        <activity android:label="@string/title_activity_cash_out_agent" android:name="com.dbbl.rocket.ui.cashOutAgent.CashOutAgentPreActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_out_agent" android:name="com.dbbl.rocket.ui.cashOutAgent.CashOutAgentActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_out_agent_confirmation" android:name="com.dbbl.rocket.ui.cashOutAgent.CashOutAgentConfirmationActivity"/>
        <activity android:label="@string/title_activity_bank_transfer_confirmation" android:name="com.dbbl.rocket.ui.bankTransfer.BankTransferConfirmationActivity"/>
        <activity android:label="@string/title_activity_bill_pay" android:name="com.dbbl.rocket.ui.billPay.BillPayActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_pay" android:name="com.dbbl.rocket.ui.billPay.BillPayConfirmationActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_pay_receipt" android:name="com.dbbl.rocket.ui.billPay.BillPayReceiptActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_pay_receipt" android:name="com.dbbl.rocket.ui.billPay.BillReceiptSaveActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_select_biller" android:name="com.dbbl.rocket.ui.billPay.SelectBillerActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_balance_inquiry" android:name="com.dbbl.rocket.ui.balanceInquiry.BalanceInquiryActivity"/>
        <activity android:label="@string/title_activity_loyalty_balance" android:name="com.dbbl.rocket.ui.loyaltyPoint.LoyaltyPointBalanceActivity"/>
        <activity android:label="@string/title_activity_mini_statement" android:name="com.dbbl.rocket.ui.miniStatement.MiniStatementActivity"/>
        <activity android:label="@string/title_activity_mini_statement" android:name="com.dbbl.rocket.ui.miniStatement.AgentMiniStatement"/>
        <activity android:label="@string/title_activity_agent_transaction_report" android:name="com.dbbl.rocket.ui.txnReportAgent.AgentTxnSummery"/>
        <activity android:label="@string/title_activity_top_up" android:name="com.dbbl.rocket.ui.topUp.TopUpActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_top_up" android:name="com.dbbl.rocket.ui.topUp.telcoPackage.TopUpPackageActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_top_up_confirmation" android:name="com.dbbl.rocket.ui.topUp.TopUpConfirmationActivity"/>
        <activity android:label="@string/title_activity_remittance" android:name="com.dbbl.rocket.ui.remittance.RemittanceActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_remittance_confirmation" android:name="com.dbbl.rocket.ui.remittance.RemittanceConfirmationActivity"/>
        <activity android:label="@string/title_activity_bill_collection" android:name="com.dbbl.rocket.ui.billCollection.BillCollectionActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_bill_collection_confirmation" android:name="com.dbbl.rocket.ui.billCollection.BillCollectionConfirmationActivity"/>
        <activity android:label="@string/title_Limit" android:name="com.dbbl.rocket.ui.limit.LimitActivity"/>
        <activity android:label="@string/change_language" android:name="com.dbbl.rocket.ui.LanguageActivity"/>
        <activity android:label="@string/title_activity_bank_transfer" android:name="com.dbbl.rocket.ui.bankTransfer.BankTransferActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_in_agent" android:name="com.dbbl.rocket.ui.cashInAgent.CashInAgentActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_in_agent" android:name="com.dbbl.rocket.ui.cashInAgent.CashInAgentPreActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cash_in_agent_confirmation" android:name="com.dbbl.rocket.ui.cashInAgent.CashInAgentConfirmationActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_activity_cus_reg" android:name="com.dbbl.rocket.ui.customerRegByAgent.CustomerRegAgentActivity"/>
        <activity android:label="@string/title_offer" android:name="com.dbbl.rocket.offerAndnotification.OfferActivity"/>
        <activity android:label="@string/title_activity_user_profile" android:name="com.dbbl.rocket.ui.UserProfileActivity"/>
        <activity android:label="@string/title_activity_notification" android:name="com.dbbl.rocket.offerAndnotification.NotificationActivity"/>
        <activity android:name="com.dbbl.mbs.apps.main.MapActivity" android:windowSoftInputMode="stateHidden"/>
        <activity android:label="@string/title_set_my_location" android:name="com.dbbl.mbs.apps.main.map.SetLocationActivity"/>
        <activity android:label="@string/title_activity_nid_check" android:name="com.dbbl.rocket.ui.nidCheck.NidCheckAgent"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ekyc.EkycAccountFeatureActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ekyc.EkycCountrySelectionActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ekyc.EkycAccountTypeSelectionActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycStartActivty"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycTermsAndConditionsActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycNidTypeActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycInstructionActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycNidOcrActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycOcrResultActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycCameraWithCropperActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycCustomerPhotoInstructionActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.cameraWork.MyCameraActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycCustomerPhotoActivity">
            <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face"/>
        </activity>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycOtherInformationActivity"/>
        <activity android:label="@string/menu_ekyc" android:name="com.dbbl.rocket.ekyc.EkycConfirmAllInfoActivity"/>
        <activity android:name="com.dbbl.rocket.ekyc.imageCapture.ImagePickerActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ekyc.EkycOtpVerificationActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ekyc.merchant.EkycOccupationAndSimVerificationActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.accept.AcceptRequestActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.accept.MyAcceptListActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.RequestListActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.send.SendRequestActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.send.NewRequestActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.CashMangementActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.CashManagementConfirmationActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.cashManagement.send.MyRequestAcceptDetailsActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.accountLink.RocketAccountPinActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.accountLink.AccLinkInstructionActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.accountLink.GenericEcomGatewayShowActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.accountLink.StartAccountLinkActivity"/>
        <activity android:name="com.dbbl.rocket.popup.DialogWithImageActivity" android:theme="@style/Theme.Transparent"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.binimoy.BinimoyRegistrationActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.binimoy.BinimoyStartActivity"/>
        <activity android:exported="false" android:name="com.dbbl.rocket.ui.billCollection.SelectBillCollectionActivity"/>
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDEJx9h5BbvVzFEp1gdJFMHSU_KRGw9jCI"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <provider android:authorities="com.dbbl.mbs.apps.main.provider" android:exported="false" android:grantUriPermissions="true" android:name="androidx.core.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/filez_provider_paths"/>
        </provider>
        <receiver android:exported="false" android:name="com.dbbl.rocket.sms.SmsBroadcastReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVE"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="com.dbbl.rocket.firebase.messaging.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <meta-data android:name="firebase_performance_logcat_enabled" android:value="true"/>
        <meta-data android:name="com.google.mlkit.vision.DEPENDENCIES" android:value="face"/>
        <activity android:label="@string/app_name" android:name="com.binimoy.clientsdk.BinimoyMobileSDK" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/app_name" android:name="com.binimoy.clientsdk.BaseActivity"/>
        <activity android:name="com.binimoy.clientsdk.DeviceRegistrationActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.binimoy.clientsdk.PINChangeActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:exported="true" android:name="com.idtp.dbbl.ui.DbblIDTPSDK" android:screenOrientation="portrait" android:windowSoftInputMode="adjustPan"/>
        <activity android:exported="false" android:name="com.dbbl.liveness.FaceLivenessActivity"/>
        <activity android:label="CustomerPhoto" android:name="com.dbbl.liveness.FaceLivenessActivity_3"/>
        <meta-data android:name="com.google.firebase.ml.vision.DEPENDENCIES" android:value="face"/>
        <activity android:name="com.karumi.dexter.DexterActivity" android:theme="@style/Dexter.Internal.Theme.Transparent"/>
        <activity android:name="com.dbbl.contacts.TestActivity"/>
        <activity android:name="com.dbbl.contacts.ContactListActivity"/>
        <activity android:name="com.github.dhaval2404.imagepicker.ImagePickerActivity" android:screenOrientation="unspecified" android:theme="@style/Theme.Transparent.ImagePicker"/>
        <activity android:name="com.yalantis.ucrop.UCropActivity" android:screenOrientation="portrait" android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <provider android:authorities="com.dbbl.mbs.apps.main.imagepicker.provider" android:exported="false" android:grantUriPermissions="true" android:name="com.github.dhaval2404.imagepicker.ImagePickerFileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/image_picker_provider_paths"/>
        </provider>
        <provider android:authorities="com.dbbl.mbs.apps.main.firebaseperfprovider" android:exported="false" android:initOrder="101" android:name="com.google.firebase.perf.provider.FirebasePerfProvider"/>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.firebase.perf.FirebasePerfRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ml.vision.VisionRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.messaging.FirebaseMessagingRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.dynamiclinks.internal.FirebaseDynamicLinkRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.crashlytics.CrashlyticsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.ml.common.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.iid.Registrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.remoteconfig.RemoteConfigRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.installations.FirebaseInstallationsRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.datatransport.TransportRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.firebase.abt.component.AbtRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <activity android:clearTaskOnLaunch="true" android:name="com.journeyapps.barcodescanner.CaptureActivity" android:screenOrientation="sensorLandscape" android:stateNotNeeded="true" android:theme="@style/zxing_CaptureTheme" android:windowSoftInputMode="stateAlwaysHidden"/>
        <provider android:authorities="com.dbbl.mbs.apps.main.com.squareup.picasso" android:exported="false" android:name="com.squareup.picasso.PicassoProvider"/>
        <activity android:excludeFromRecents="true" android:exported="false" android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <service android:exported="true" android:name="com.google.android.gms.auth.api.signin.RevocationBoundService" android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION" android:visibleToInstantApps="true"/>
        <activity android:configChanges="orientation|screenSize" android:name="droidninja.filepicker.FilePickerActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="droidninja.filepicker.MediaDetailsActivity"/>
        <provider android:authorities="com.dbbl.mbs.apps.main.droidninja.filepicker.provider" android:exported="false" android:grantUriPermissions="true" android:name="droidninja.filepicker.utils.FilePickerProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <receiver android:exported="true" android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
            </intent-filter>
        </receiver>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.firebase.messaging.FirebaseMessagingService">
            <intent-filter android:priority="-500">
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:directBootAware="true" android:exported="false" android:name="com.google.mlkit.common.internal.MlKitComponentDiscoveryService">
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.face.internal.FaceRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.vision.common.internal.VisionCommonRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
            <meta-data android:name="com.google.firebase.components:com.google.mlkit.common.internal.CommonComponentRegistrar" android:value="com.google.firebase.components.ComponentRegistrar"/>
        </service>
        <provider android:authorities="com.dbbl.mbs.apps.main.androidx-startup" android:exported="false" android:name="androidx.startup.InitializationProvider">
            <meta-data android:name="androidx.work.WorkManagerInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.emoji2.text.EmojiCompatInitializer" android:value="androidx.startup"/>
            <meta-data android:name="androidx.lifecycle.ProcessLifecycleInitializer" android:value="androidx.startup"/>
        </provider>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.SystemAlarmService"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_job_service_default" android:exported="true" android:name="androidx.work.impl.background.systemjob.SystemJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <service android:directBootAware="false" android:enabled="@bool/enable_system_foreground_service_default" android:exported="false" android:name="androidx.work.impl.foreground.SystemForegroundService"/>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="false" android:name="androidx.work.impl.utils.ForceStopRunnable$BroadcastReceiver"/>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryChargingProxy">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$BatteryNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_OKAY"/>
                <action android:name="android.intent.action.BATTERY_LOW"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$StorageNotLowProxy">
            <intent-filter>
                <action android:name="android.intent.action.DEVICE_STORAGE_LOW"/>
                <action android:name="android.intent.action.DEVICE_STORAGE_OK"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxy$NetworkStateProxy">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="false" android:exported="false" android:name="androidx.work.impl.background.systemalarm.RescheduleReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="@bool/enable_system_alarm_service_default" android:exported="false" android:name="androidx.work.impl.background.systemalarm.ConstraintProxyUpdateReceiver">
            <intent-filter>
                <action android:name="androidx.work.impl.background.systemalarm.UpdateProxies"/>
            </intent-filter>
        </receiver>
        <receiver android:directBootAware="false" android:enabled="true" android:exported="true" android:name="androidx.work.impl.diagnostics.DiagnosticsReceiver" android:permission="android.permission.DUMP">
            <intent-filter>
                <action android:name="androidx.work.diagnostics.REQUEST_DIAGNOSTICS"/>
            </intent-filter>
        </receiver>
        <provider android:authorities="com.dbbl.mbs.apps.main.firebaseinitprovider" android:directBootAware="true" android:exported="false" android:initOrder="100" android:name="com.google.firebase.provider.FirebaseInitProvider"/>
        <provider android:authorities="com.dbbl.mbs.apps.main.mlkitinitprovider" android:exported="false" android:initOrder="99" android:name="com.google.mlkit.common.internal.MlKitInitProvider"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementService"/>
        <service android:enabled="true" android:exported="false" android:name="com.google.android.gms.measurement.AppMeasurementJobService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <uses-library android:name="androidx.window.extensions" android:required="false"/>
        <uses-library android:name="androidx.window.sidecar" android:required="false"/>
        <service android:directBootAware="true" android:exported="false" android:name="androidx.room.MultiInstanceInvalidationService"/>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.backends.TransportBackendDiscovery">
            <meta-data android:name="backend:com.google.android.datatransport.cct.CctBackendFactory" android:value="cct"/>
        </service>
        <service android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.JobInfoSchedulerService" android:permission="android.permission.BIND_JOB_SERVICE"/>
        <receiver android:exported="false" android:name="com.google.android.datatransport.runtime.scheduling.jobscheduling.AlarmManagerSchedulerBroadcastReceiver"/>
        <activity android:exported="false" android:name="com.google.android.play.core.common.PlayCoreDialogWrapperActivity" android:stateNotNeeded="true" android:theme="@style/Theme.PlayCore.Transparent"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.stamp.source" android:value="https://play.google.com/store"/>
        <meta-data android:name="com.android.stamp.type" android:value="STAMP_TYPE_STANDALONE_APK"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="2"/>
    </application>
</manifest>
