@font-face {
	font-family: DC_Product_RTL_iconset;
	src: url('../fonts/DC_Product_RTL_iconset.ttf');
}

a:link {
	background-color: transparent;
	color: #555;
}

a:visited {
	background-color: transparent;
	color: #555;
}

a:hover {
	background-color: transparent;
	color: #1fa3bb;
}

a:active {
	background-color: transparent;
	color: #1fa3bb;
}

.from {
	color: #555;
	font-size: 9pt;
	padding-left: 11pt;
	padding-right: 11pt;
	padding-top: 11pt;
	word-wrap: break-word;
}

.date {
	color: #555;
	font-size: 9pt;
	padding-bottom: 11pt;
	padding-left: 11pt;
	padding-right: 11pt;
	word-wrap: break-word;
}

.message {
	color: #555;
	font-size: 11pt;
	padding-bottom: 11pt;
	padding-left: 11pt;
	padding-right: 11pt;
	word-wrap: break-word;
}

.conversationHeader {
	background-color: #eee;
	margin-top: 1px;
	word-wrap: break-word;
}

.icon {
	color: #555;
	display: inline-block;
	font-family: DC_Product_RTL_iconset;
	font-size: 18pt;
	padding: 11pt;
}

.attachment {
	display: inline-block;
	font-size: 11pt;
	padding-bottom: 11pt;
	padding-right: 11pt;
	padding-top: 11pt;
	vertical-align: top;
	word-wrap: break-word;
}

.banner {
	padding: 11pt;
	color: #555;
	font-size: 9pt;
}

.banner .icon-wrapper {
	float: left;
	width: 10%;
}

.banner .icon {
	padding: 8pt;
}

.banner .content-wrapper {
	float: left;
	width: 90%;
	word-wrap: break-word;
}
