/* Empty. Add your own CSS if you like */
/*custom is class added to ion-content*/

.custom {
  background-color: #222 !important; /* This sets the background color*/
  overflow: auto;
}

/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border: none; /*Removes all borders*/
  border-top: 1px solid; /*Top Border for each menu item*/
  border-bottom: 1px solid; /*Bottom border for each menu item*/
  border-color: #666; /*Sets colors for top and bottom border*/
  color: white; /*Text color for each item*/
  margin-top: auto;
  font-family: "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
  font-weight: normal;

}

/*Changes the border for the last item*/
.custom .item:last-child {
  border-bottom: 1px solid #666;
}

.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
}

/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: white; /*Text color for each item, overrides the color property above*/
}

.ion_custom_left_header {
  background-color: #222 !important;
  border: none; /*Removes all borders*/
  border-top: 0px solid; /*Top Border for each menu item*/
  border-bottom: 0px solid; /*Bottom border for each menu item*/
  border-color: #666; /*Sets colors for top and bottom border*/
  color: white; /*Text color for each item*/

}

.ion_custom_right_header {

  height: 50px;
  /*background: #45484d; !* Old browsers *!*/
  /*background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); !* FF3.6-15 *!*/
  /*background: -webkit-linear-gradient(top, #45484d 0%, #000000 100%); !* Chrome10-25,Safari5.1-6 *!*/
  /*background: linear-gradient(to bottom, #45484d 0%, #000000 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f6f6f6+47,ededed+100;White+3D+%231 */
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}

.moduleName {
  font-family: 'Gabriola', 'Trebuchet MS', sans-serif;
  color: white;
  text-align: left;
  font-size: 35px;
  font-weight: normal;
  /*margin: 0;*/
  margin-left: 10px;
  padding: 10px 1px 1px 0px;
  text-shadow: 2px 2px 2px #9e9e9e;
  letter-spacing: -2px;
  transform: scale(1, 1); /* W3C */
  -webkit-transform: scale(1, 1); /* Safari and Chrome */
  -moz-transform: scale(1, 1); /* Firefox */
  -ms-transform: scale(1, 1); /* IE 9 */
  -o-transform: scale(1, 1);
}

.iCellularBanner {
  overflow: hidden;
  /*height: 50px;*/
  height: 45px;
  margin: 0;
  padding: 0px;
  clear: both;
  /*background: -moz-linear-gradient(center top, rgb(0, 84, 41), rgb(47, 139, 1)) repeat scroll 0% 0% transparent;*/
  /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005429), to(#2F8B01));*/
  /*box-shadow: 0px 0px 1px rgb(190, 209, 185) inset;*/
  /*-webkit-box-shadow: inset 0 0px 0 #CBD6CE, inset 0 -1px 0 #CBD6CE, 0 0 15px rgba(0, 0, 0, 0.07);*/
  /*-moz-box-shadow: inset 0 1px 0 #CBD6CE, inset 0 -1px 0 #CBD6CE, 0 0 15px rgba(0, 0, 0, 0.07);*/
  /*background-color: #007C3C;*/
  /*background-color: rgba(130, 184, 92, 0.64);*/
  background-color: rgb(18, 105, 4);
  /*border-bottom: 1px solid #ffffff;*/

}

.hvr-shutter-in-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  background: #2098d1;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.custom-icon {
  font-size: 64px;
  color : #276213;
}
.item-content {
  padding-left: 40px;
}
a.item-content{
  color: #0a0a0a;
}
