/*
  ========Merger CSS for iOS specific item=====================
 ********************Only for ios releated CSS--Karthika*********
  ========Merger CSS for iOS specific item===--------==========
 */
*
/********** iPhone X Full Screen Display *******/
.appheader, .bodywrapper, .contact_sticky_search, .landing, .loginbg, .mainnav .userInfo, .trans_popup, .offerPopupClass, .step-progress, .modernPOP, .feedbackPop, .rewardPopup {
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

.transfer_option {
    margin-top:15px;
}

.click_active {
    margin-top:50px;
}

.appheader {
    background-color:#0072bc;
}

/********** iPhone X Full Screen Display *******/

.quickLink, .footMenu {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}
